h1 {
  font-weight: bolder;

  width: 100%;

  color: white;

  text-transform: uppercase;
  font-size: 5.25vw;
}

@media screen and (max-aspect-ratio: 5/4) {
  h1 {
    font-size: 18.25vw;
    text-align: center;
  }
}
